<section class="flex bg-mystic h-screen flex-row md:flex-row">
  <!-- Nav -->
  <app-nav class="p-10"></app-nav>
  <!-- Main -->
  <main class=" p-8 rounded-lg bg-white flex flex-col h-fit w-[80%] ml-[16%] mr-[1%] mt-[1%]">

    <!-- Signup forms (adjust based on screen size) -->
    <div class="flex flex-col md:flex-row">
      <app-signup class="mb-5 md:mb-0 md:mr-5"></app-signup>
      <app-signup-admin class="mb-5 md:mb-0 md:mr-5"></app-signup-admin>
    </div>
    <!-- Usuarios -->
    <app-ver-usuarios class="mt-5"></app-ver-usuarios>
  </main>
</section>
