<button class="boton2" (click)="openModal()">
  <svg class="mr-2 h-8 w-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
  </svg>
  Crear producto
</button>

<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-[200]">
  <div class="bg-white rounded-lg p-8 lg:w-1/3 h-2/3 overflow-y-auto w-2/3 mx-auto">
    <div class="flex justify-end items-center mb-4 mx-0 z-[201]">
      <button (click)="closeModal()" class="fixed  z-[201] inline-flex items-center w-fit text-sm  rounded-lg ">
        <span class="sr-only">Close menu</span>
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </div>
      <div class="w-full">
      <form class="bg-white rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nombreProducto">
            Nombre del Producto
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombreProducto" type="text" [(ngModel)]="producto.nombre" name="nombreProducto">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">
            Precio
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="precio" type="text" [(ngModel)]="producto.precio" name="precio">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="descripcion">
            Descripción
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descripcion" type="text" [(ngModel)]="producto.descripcion" name="descripcion">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="imagen">
            Imagen
          </label>
          <input type="file" accept=".jpg" (change)="onFileSelected($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imagen" name="imagen">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="categoria">
            Categoría
          </label>
          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="categoria" [(ngModel)]="producto.categoria" name="categoria">
            <option *ngFor="let categoria of categories" [value]="categoria">{{categoria}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="estado">
            Estado
          </label>
          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="estado" [(ngModel)]="producto.estado" name="estado">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
        </div>

        <p class="text-red-500 text-sm text-left mb-2">{{alertPostMsg}}</p>
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end mt-6">
          <button class="boton1 w-full sm:w-fit" type="button" (click)="postProducto()">
            Registrar
          </button>
          <button class="botonCancelar sm:w-fit w-full ml-0 sm:ml-5 mt-5 sm:mt-0" type="button" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
